/* Normalize.css agregado a través de npm */
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 253, 247);
  margin: 20px;
  padding: 0px;
  height: 100vh; 
}

h1 {
    color: rgb(6, 68, 12);
    font-size: 3rem;
    margin-top: 1em;
    text-shadow: 2px 2px 10px rgb(62, 60, 60);   
}

h2 {
    color: darkgreen;
    text-align: left;
    margin-top: 4.2em;
    margin-left: -12em;
}
header {
    margin: 10px;
    display: flex;
    background-color: rgb(161, 212, 186);
    /* position: fixed; */
    width: 100%;
  }

nav {
    height: 5px;
    flex: 50%;
    display: flexbox;
  }
nav ul {
    padding: 1;
    flex: 2;
    display: flex;
  }
nav li {
    display: block;
    text-align: center;
    flex: 1;
    
  }
nav a{
    font-size: 20px;
    height: 3rem;
    color: rgb(75, 141, 235);
  }

legend {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgreen;
  }
fieldset {
  position: relative;
  margin: 10px; 
  padding: 10px;
  border-color: rgb(75, 141, 235);
  }

  p {
    padding: 4px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
  main {
  /* display: flexbox; */
  font-size: 1rem;
  text-align: left;
  text-decoration-color: rgb(162, 175, 175);
  margin-top:150px;
  padding: 10px;
  float: left;
  width: 60%;
  
}

aside {
  margin-top: 160px; 
  display: block;
    float: right;
    width: 35%;
    font-size: large;
    
}

img {
  width:90px;
}

img.redes{
  margin-left: 55px;
  width: 10%;
}
footer {
  height: 90px;
  line-height: 20px;
  font-size: 11px;
  background-color: rgb(206, 248, 234);
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
}

footer p{
  text-align:start;
  font-size: 15px;
}
section{
  display: block;
  font-size: large;
}

/* ---------- Estilos de la Impresión de datos ----------*/

.impriCard {
  display: flex;
  float: left;
  padding-bottom: 5px;
  color: rgb(4, 101, 236);;
}

.label {
  display: block;
  float: left;
  font-size: larger;
  color: darkgreen;
}

input{
  font-size: 16px;
  color: rgb(4, 101, 236);
}

select{
  font-size: 16px;
  color: rgb(4, 101, 236);
}


